/* register button  */
.register{
    color: #289BDE;
    border-color: #289BDE;
    border: 1px solid;
    width: 100px;
}
/* carousal cation  */
.my-carousal-caption{
    background-color: rgba(220, 220, 220, 0.664);
    font-size: 2vw;
}
/* margin  */
.margin{
    margin-top: 15vh;
    margin-bottom: 10vh;
}

/* background  */
.background{
    background-color: #d8ebf5;
}

.background-footer{
    background-color: black;
}